body {
    background-color: #91CEA8;
}

@font-face {
    font-family: 'Pusab';
    src: url('../assets/fonts/PUSAB.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Pusab', Arial;
    color: white;
    -webkit-text-stroke: 0.2vh black;
    text-shadow: 0.375vh 0.375vh 0vh rgba(0, 0, 0, 0.3);
}

.gd-steam-img {
    width: 900px;
    height: 300px;
}

.back-to-home-button {
    width: 200px;
    height: 30px;
    transform-origin: 100% 0%;
}

.mrdummy-guy {
    font-size: 26px;
}
